#about{
   font-size: 20px;
   font-family:sans-serif;
   color:black;
} 
h1{
    font-family:sans-serif;
    color:rgb(0, 0, 0);
    font-size:40px;
}
h2{
    margin-left:5px;
    font-family:sans-serif;
    color:black;
}
h3{
    margin-left:5px;
    font-family:sans-serif;
    color:black;
}
a{
    text-decoration: none;
    color:rgba(15, 15, 15, 0.925);
    font-size:20px;
    font-weight: bold;
}
p{
    margin-left:5px;
}
li{
    list-style-type: square;
}
#headlog{
    height:70px;
    width:1510px;
    background-color: olive;
}
#heading{
    height:70px;
    float:left;
    width:1200px;
}
#logup{
    height:70px; 
    float:left;
    width:150px;
    font-family:sans-serif;
}
#container{
    width:1505px;
    height:1200px;
    font-family:Arial, Helvetica, sans-serif;
    color:black;
}
#navig{ 
    width:1510px;
    height:50px;
    font-family:sans-serif;
}


.navlinks
{
    width:"100px";
    height:"50px";
    float: left;
    margin-left:50px;
}
#contribute{
    width:200px;
    font-weight: bold;
    color:rgb(230, 24, 24);
    float:left;
    height:450px;

}
#show{
    width:1000px;
    float:left;
    height:450px;
    background-color: violet
}
#notice{
    height:450px;
    float:left;
    width:300px;
    font-weight:bold;
    background-color:rgb(66, 243, 243);
}
#explain{
    width:1510px;
    height:500px;
    float:left;
    background-color:khaki;
}
#footnotes{
    width:1510px;
    height:200px;
    float:left;
    background-color: orchid;
}
